@import "tailwindcss";

:root {
  --background: #F3F3F2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Registrando suas fontes para usar como font-exa e font-zetta */
  --font-exa: var(--font-lexend-exa);
  --font-zetta: var(--font-lexend-zetta);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F3F3F2;
    --foreground: #ededed;
  }
}